.label {
  width:70px;
  height:30px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
  cursor: pointer;
}
.label:after {
  content: "";
  width:30px;
  height: 50px;
  position: absolute;
  top:10px ;
  left:10px;
  background: linear-gradient(180deg,#ffcc89,#d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
.inp {
  width: 0;
  height: 0;
  visibility: hidden;
}
.inp:checked + .label {
  background: #242424;
}
.inp:checked + .label:after {
  left:10px;
  transform: translateX(-100%);
  background: linear-gradient(180deg,#777,#3a3a3a);
}
.label,.label:after {
  transition: 0.3s
}
.inp:checked + .label + .background {
  background:#242424;
}